<div id="groupModal" class="modal">
    <div class="modal-content">
        <h3>New Secret Chat</h3>
        <input id="newGroupName" placeholder="Group Name...">
        <button onclick="createGroup()">Create</button>
        <button onclick="closeModal('groupModal')">Cancel</button>
    </div>
</div>

<div id="friendModal" class="modal">
    <div class="modal-content">
        <h3>Invite Agent</h3>
        <input id="friendUid" placeholder="User UID...">
        <button onclick="addFriend()">Add</button>
        <button onclick="closeModal('friendModal')">Cancel</button>
    </div>
</div>